<div class="d-flex frontpage">
  <div class="container">
    <div class="row">
      <div class="col-4">
        Primera de tres columnas
      </div>
      <div class="col-4">
        Segunda de tres columnas
      </div>
      <div class="col-4">
        Tercera de tres columnas
      </div>
    </div>
  </div>
</div>
