<div id="home">
  <span class="title-span">Presentaciones recientes</span>
  <hr class="hr-home_style">
  <div class="card flex-row flex-wrap">
    <%@latestItems.each do |item| %>
      <%= render :partial => 'resources/box', :locals  => { :resource => item } %>
    <% end %>
  </div>
  <span class="title-span">Presentaciones recomendadas</span>
  <hr class="hr-home_style">
  <div class="card flex-row flex-wrap">
    <%@recommendedItems.each do |item| %>
      <%= render :partial => 'resources/box', :locals  => { :resource => item } %>
    <% end %>
  </div>
  <span class="title-span">Presentaciones populares</span>
  <hr class="hr-home_style">
  <div class="card flex-row flex-wrap">
    <%@popularItems.each do |item| %>
      <%= render :partial => 'resources/box', :locals  => { :resource => item } %>
    <% end %>
  </div>
</div>
