div.movle_button, input.movle_button, button.movle_button {
    padding: 4px 14px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

div.movle_button a, button.movle_button a {
    color: white;
    text-decoration: none;
}

div.movle_button a span.glyphicon, button.movle_button a span.glyphicon{
    margin-right: 5px;
}

div.movle_button_header {
    background-color: #63e38a;
}

div.movle_secondary_button_header {
    background-color: rgb(58, 132, 241);
}

div.movle_secondary_button, input.movle_secondary_button {
    padding: 4px 12px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 30px;
    color: white;
}

div.movle_button, div.movle_secondary_button {
    min-width: 110px;
    margin: 0px 5px 0px 5px;
}

div.movle_button a {
    color: white;
    text-decoration: none;
}

div.movle_secondary_button a {
    color: white;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.sign_up_button {
    float: right;
    font-size: 1.5em !important;
    background-color: rgb(58, 132, 241);
    color: white !important;
}

.resend_button, .sign_in_button, .forgot_password_button, .update_account_button {
    font-size: 1.5em !important;
    background-color: #63e38a;
    color: white !important;
}

.cancel_account_button {
    font-size: 1.5em !important;
    background-color: rgb(255, 80, 80);
    color: white !important;
}

.edit_profile {
    font-size: 15px;
    background-color: rgba(94,86,105,.68);
    border-radius: 30px;
    padding: 10px 20px;
}

#return_button {
    font-size: 15px;
    background-color: rgba(94,86,105,.68);
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    width: 22%;
}

#return_button i {
    margin-right: 5px;
}

