#movle_notifications{
	margin-top: 20px;
}

div.alert-success{
	font-size: 1.2em;
	width: 30%;
	float: right;
}

div.alert-danger {
	color: black;
	font-size: 1.2em;
	border-size: 3px;
	border-color: black;
	width: 30%;
	float: right;
}