#profile {
	padding: 60px 120px 0px 120px;
}

.profile_container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 30px;
	margin: 0px 10px 30px 10px;
	padding: 30px;
	width: 100%;
}

.profile_tab_wrapper{
	display: flex;
	justify-content: center;
}

div.profile_tab {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#user_profile_info {
	padding-left: 1px;
}

#user_profile_info div.title {
	font-size: 3.2em;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}

#user_profile_info div.title i {
	margin-right: 5px;
}

#user_profile_info div.title span {
	margin-right: 25px;
}

#user_profile_info div.title a {
	color: white;
}


ul.nav-tabs.user-nav li {
	font-size: 1.6em;
	margin-right: 4px;
}

ul.nav-tabs.user-nav li a, ul.nav-tabs.user-nav li a:hover {
	color: white;
	border: 2px solid rgb(28, 28, 129);
	cursor: pointer !important;
	background-color: rgb(28, 28, 129);
	border-radius: 30px;
}


ul.nav-tabs.user-nav li:not(.active) a {
	color: rgba(65, 61, 71, 0.87);
	background-color: white;
}

ul.nav-tabs.user-nav li:not(.active) a:hover {
	color: rgba(65, 61, 71, 0.87);
}

.nav-tabs {
    border-bottom: none;
}