<div class="item_box">
  <div class="item_thumbnail item_thubmnail_new">
    <%= link_to(new_resource_path) do %>+<%end%>
  </div>
  <div class="item_title" style="margin-bottom: 12px">
    <p class="add_new"><%=t('resources.add_new')%></p>
  </div>
</div>
