div#session_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: auto;
  width: fit-content;
  border-radius: 30px;
  padding: 20px;
}

div#session_form h2 {
  font-size: 2.2rem;
  margin: 30px auto 20px;
}

div#session_form h3 {
  margin: 30px auto 40px;
  font-size: 1.3rem;
  font-weight: bold;
}

div#session_form #row_form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

div#session_form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#session_form div.field {
  margin: 20px 0px 20px 0px;
}

div#session_form form p {
  font-size: 1.3rem;
  font-weight: bold;
}

div#session_form p.form_legend_description{
  font-size: 1.1rem;
  font-weight: normal;
}

div#session_form div.g-recaptcha {
  margin-top: 20px;
}

div#session_form input, div#session_form select {
  color: black;
}

div#session_form input[type='text'], div#session_form [type='email'], div#session_form [type='password'], div#session_form select.account_language {
  padding: 5px;
  min-width: 400px;
  font-size: 1.2rem;
}


div#session_form div.field div.select2-container{
  width: 400px;
}

div#session_form p.remember_me {
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
}

div#session_form p.remember_me input[type='checkbox'] {
  margin-right: 5px;
  height: 13px;
}
    
div#session_form input[type='submit'] {
  font-size: 1.4rem;
}

div#session_form p.forgot_password {
  width: 400px;
  text-align: right;
  font-weight: normal;
  font-size: 1rem;
  margin-top: 1px;
}

div.devise_error_messages {
  margin: 25px 0px 25px 0px;
  font-size: 1.2rem;
}

div.devise_error_messages h2 {
  font-size: 1.7rem !important;
}

div.devise_error_messages li {
  font-size: 1.2rem;
  margin: 5px 0px 5px 0px;
}

div#cancel_account_wrapper {
  margin-top: 45px;
}

div#cancel_account_wrapper p.cancel_account_description {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

div#cancel_account_wrapper form {
  margin-top: 6px;
}

.outlined_input {
  background-color: transparent;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid gray;
}

.outlined_input:focus {
  outline: none;
}

.end_row {
  display: flex;
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.end_row_p {
  font-weight: 200 !important;
  font-size: 1em !important;
  margin: 0px;
}

.end_column{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.margin_end_row {
  margin-top: 20px;
}

.return {
  background-color: gray;
  width: min-content;
  border-radius: 30px;
  padding: 5px 10px;
}

div.return a {
  color: white;
}
