<div id="movle_logo_wrapper">
	<a href="/"><p class="logo">MOVLE</p></a>
</div>
<div id="buttons_header">
	<div class="movle_secondary_button" id="register_wrapper">
		<a href="/users/sign_up"><%=t("dictionary.register")%></a>
	</div>
	<div class="movle_button" id="login_wrapper">
		<a href="/users/sign_in"><%=t("dictionary.login")%></a>
	</div>
</div>