<%= javascript_include_tag 'search' %>
<div id="search">
  <%= form_tag search_path, method: 'get' do %>
    <%= text_field_tag :q, nil, autocomplete: :off, class: 'search-query form-control', placeholder: 'Buscar' %>
    <button type="button" id="search_button_desktop"><i class="fas fa-search"></i></button>
  <% end %>
</div>
<script>
  $("#search_button_desktop").on("click", function(){
    var searchQuery = $("#q").val();

    if (searchQuery.trim() !== "") {
      document.location= "/search?q=" + $("#q").val();
    } else {
      document.location= "/search"
    } 
  });
</script>
